
/* Establezco el menú a la izquierda */
.menu
{
    float: left;
}

/* Quito el subrayado a los Enlaces y les doy estilo */
li > a{
    color: black;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

/* Cuando se pasa por encima de los enlaces */
a:hover
{
    color: white;
}

/* Le quito los puntos a la ul */
ul
{
    list-style: none;
}

li 
{
    background-color: rgb(133, 133, 133);
    position: relative;
    float:left;
    padding: 15px;
    color: white;
}
